.loginWrapper{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}


h2{
  font-size: 3rem;
  margin-bottom: 5vh;
  color:  #3cc827;
}
h3{
  justify-content: center;
}
h4{
  i{
    font-size: 5rem;
    color: #c5c5c5;
  }
}
.loginHelpCon{
  color: green;
  margin-bottom: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  a{
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 1.4rem;
    justify-content: flex-end;
    text-decoration: none;
    &:hover{
      color: #3cc827;
    }
    i{
      font-size: 1.6rem;
    }
  }
}