<div class="loginWrapper">
  <header>
    <h5>Welcome to</h5>
    <h2>Example.com</h2>
    <h4><i class="material-icons">person_pin</i>{{ pageName }}</h4>
    <h3>Update Password</h3>
  </header>
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <label for="newpassword" aria-label="New password">
      <input type="text" name="newpassword" placeholder="New Pssword" />
    </label>
    <label for="confirmpassword" aria-label="Confirm Password">
      <input
        type="confirmpassword"
        name="confPassword"
        placeholder="Confirm Password"
      />
    </label>
    <button class="submit">Update</button>
  </form>
</div>
<div class="loginHelpCon">
  <a routerLink="/{{ pageName }}/login">
    <i class="material-icons">power_settings_new</i> Sign in
  </a>
</div>
