<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="logoWrapper">
            <button mat-icon-button aria-label="Hamburger menu">
        <mat-icon class="material-icons">menu</mat-icon></button
      ><span class="logo">Haxxix</span>
    </div>
    <span class="spacer"></span>
    <!-- <button mat-icon-button aria-label="Go to Contact us page">
          <mat-icon class="material-icons" matBadge="1" matBadgeColor="accent">notifications</mat-icon>
        </button> -->
            <button mat-icon-button aria-label="Go to Shopping cart page" (click)="gotoCartPage()">
      <mat-icon class="material-icons" matBadge="2" matBadgeColor="accent">
        shopping_cart
      </mat-icon>
    </button>
    </mat-toolbar-row>
</mat-toolbar>