label {
  width: 100%;
}
h3 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    display: flex;
    align-items: center;
  }
}
.two-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input,
  select {
    flex-basis: 45%;
  }
}
