.outerWrapper {
  padding-top: 80px;
}
h3 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    display: flex;
    align-items: center;
  }
}
::ng-deep label {
  width: auto;
  font-weight: normal;
}
