<h1 mat-dialog-title [ngClass]="{ error: data.success == -1 }">
  {{ data.title }}
</h1>
<div mat-dialog-content>
  <p>{{ data.msg }}</p>
  <ul *ngIf="data.success == -1" [ngClass]="{ error: data.success == -1 }">
    <li *ngFor="let item of data.error">{{ item.msg }}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button
    *ngIf="data.type === 'confirm'"
    mat-button
    (click)="ok(data.type)"
    cdkFocusInitial
  >
    OK
  </button>
  <button mat-button (click)="cancle()">
    Cancle
  </button>
</div>
