.outerWrapper {
  padding-top: 80px;
}

h2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 2.5rem;
  color: #0d6500;
  text-align: center;
  border-bottom: dashed 1px #3cc827;
}
h3 {
  margin: 20px 0 10px;
  justify-content: center;
}
h4 {
  font-weight: 600;
  color: #c5aeae;
  background-color: #dbffd6;
  padding: 10px;
  margin-bottom: 0;
  border: solid 1px #eee;
  border-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  flex-direction: row;
  span {
    font-style: italic;
    span {
      color: #000;
      font-weight: bold;
    }
  }
}
.order-list {
  margin-bottom: 10px;
}
.mat-card {
  box-shadow: none;
  border: solid 1px #eee;
  font-family: inherit;
}
.order-details {
  li {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    line-height: 1.8rem;
    border-bottom: dashed 1px #eee;
    align-items: center;
    color: #333;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  span {
    font-weight: 600;
    text-align: right;
    color: inherit;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
}
button {
  width: 100%;
  color: #fff;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  &.auto-basis {
    flex-basis: auto;
    width: auto;
    text-transform: capitalize;
    font-weight: normal;
  }
}
.counting {
  width: 40px;
  color: #fff;
}
.mat-card-actions {
  a {
    width: 100%;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.not-delivered {
  color: red !important;
  background-color: #f9f9f9;
  padding: 5px 10px;
  border: dashed 1px red;
}
.delivered {
  padding: 5px 10px;
  color: lightgreen !important;
  border: dashed 1px lightgreen;
  background-color: #f9f9f9;
}
::ng-deep {
  .mat-card-header-text {
    margin: 0 !important;
  }
}
