<div class="counterWrapper">
  <button disabled class="addProductButton" *ngIf="+product.stock === 0">
    Out of stock
  </button>
  <ng-container *ngIf="+product.stock > 0">
    <button
      class="addProductButton"
      (click)="showProductCounter()"
      *ngIf="!product.quantity"
    >
      Add
    </button>
  </ng-container>
  <div class="counter" *ngIf="product.quantity">
    <button (click)="remove()">-</button>
    <span class="quantity"
      >{{ product.quantity }}<span>{{ product.unit }}</span></span
    >
    <button
      [style.visibility]="isMoreThanStock ? 'hidden' : 'visible'"
      (click)="add()"
    >
      +
    </button>
  </div>
</div>
