<div class="cardWrapper">
    <div class="card" *ngFor="let product of products">
        <span class="foodType veg"><span class="dot"></span></span>
        <img src="./../../../../../assets/images/apple.jpg" />
        <span class="inStock">In Stock:
      <span>{{ product.totalQuantity }}{{ product.unit }}</span></span>
        <h2>{{ product.name | titlecase }}</h2>
        <div class="priceCon">
            <span class="cut-out-price">{{ product.cutoutPrice | currency: '&#8377;' }}/{{ product.unit }}
      </span>
            <span class="price">{{ product.price | currency: '&#8377;' }}/{{ product.unit }}
      </span>
        </div>
        <app-product-counter (changeProduct)="productStatus($event)" [product]="product">
        </app-product-counter>
    </div>
</div>