h2 {
  font-weight: 600;
  color: #5d5d5d;
  padding: 10px 0;
}
h3 {
  font-weight: 600;
  color: #5d5d5d;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 0;
  border: solid 1px #eee;
  border-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-style: italic;
    color: #000;
  }
}
.order-list {
  margin-bottom: 10px;
}
.mat-card {
  box-shadow: none;
  border: solid 1px #eee;
  font-family: inherit;
}
.order-details {
  li {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    line-height: 1.8rem;
    border-bottom: solid 1px #eee;
    align-items: center;
    color: #333;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  span {
    font-weight: 600;
    flex-basis: 50%;
    text-align: right;
    color: inherit;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
}
button {
  width: 100%;
  background-color: #7fc175;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 3px;
}

::ng-deep {
  .mat-card-header-text {
    margin: 0 !important;
  }
}
