<h2>Date:31-05-2020</h2>
<div class="order-list">
  <h3>Orders: 11 PM<span>No. #110013</span></h3>
  <mat-card>
    <mat-card-content>
      <ul class="order-details">
        <li>Name:<span>Gautam Kumar</span></li>
        <li>Mobile:<span>9953210510</span></li>
        <li>Status:<span>Pending</span></li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button>View Details</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="order-list">
  <h3>Orders: 11 PM<span>No. #110013</span></h3>
  <mat-card>
    <mat-card-content>
      <ul class="order-details">
        <li>Name:<span>Gautam Kumar</span></li>
        <li>Mobile:<span>9953210510</span></li>
        <li>Status:<span>Pending</span></li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button>View Details</button>
    </mat-card-actions>
  </mat-card>
</div>
