<div class="fullPageWrapper">
  <header>
    <i class="material-icons" (click)="goBack()">arrow_back</i>
    <div class="title">Activate your account</div>
    <span class="separator"></span>
    <a routerLink="/">
      <i class="material-icons">home</i>
    </a>
  </header>
  <h2>!!Hurray, You successfully registered yourself on Haxxix.</h2>
  <p>
    Haxxix has send you a message on your mobile, please click on the link to
    activete your account.
  </p>
  <div class="bottomSignInLinkCon">
    <a routerLink="/user/login"
      ><i class="material-icons">power_settings_new</i>Sign In</a
    >
  </div>
</div>
