<div class="fullPageWrapper">
  <header>
    <i class="material-icons" (click)="productPage()">arrow_back</i>
    <div class="title">
      My Orders ({{ totalPurchaseDateWise }})<span class="separator"></span>
    </div>
  </header>
  <h2 *ngIf="products.length">Your latest order has been placed</h2>
  <ng-container *ngIf="products && products.length">
    <ng-container *ngFor="let product of products | keyvalue">
      <div class="itemListCon">
        <ng-container *ngFor="let item of product.value | keyvalue">
          <div class="date">
            <span>{{ item.key | date: 'h:mm a' }} </span>
            <span>{{ item.key | date: 'mediumDate' }}</span>
          </div>

          <div class="itemList">
            <div *ngFor="let order of item.value">
              <ul>
                <li>
                  <div class="col">
                    <div class="imgCol">
                      <img
                        src="./assets/uploads/images/{{ order.image }}"
                        alt=""
                      />
                    </div>
                    <div class="details">
                      <h2>
                        {{ order.name | titlecase }} -
                        {{ order.category | titlecase }}
                      </h2>
                      <div class="quantity">
                        Price: {{ order.price | currency: '&#8377; ' }}/{{
                          order.unit
                        }}
                      </div>
                      <div class="total-price">
                        <span>Quantity: {{ order.quantity }} </span>

                        {{
                          order.price * order.quantity | currency: '&#8377; '
                        }}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="address">
              <h3>Product {{ deliveryStatus }} delivered to below address</h3>
              <span>{{ item.value[0].person_name }}</span>
              {{ item.value[0].address }}, {{ item.value[0].city }}-{{
                item.value[0].pincode
              }}, {{ item.value[0].state }},
              {{ item.value[0].country }}
              <span>Ref Code: {{ item.value[0].order_ref_code }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <p class="cartInfo" *ngIf="!products.length">
    <i class="material-icons"> history </i>😒 You have no orders, why don't you
    buy something.
  </p>
</div>
