@import './../../../scss/inner-page-header';
header {
  .title {
    flex: 1 auto;
    display: flex;
    align-items: center;
  }
}
.col {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  border: solid 1px #f1e2ce;
  border-radius: 5px;
  overflow: hidden;
  .details {
    background-color: #fffbf6;
    border-left: solid 1px #f1e2ce;
    padding: 10px 13px;
    flex: 1 auto;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.2rem;
    }
  }
}
.date {
  font-size: 1.2rem;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-weight: 600;
  text-align: center;
  background: #f9bd2c;
  border-radius: 3px;
  color: #fff;
  padding: 5px 15px;
}
.itemListCon {
  .itemList {
    margin-bottom: 10px;
    border-bottom: dashed 1px #eee;
    padding-bottom: 10px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    li {
      margin-bottom: 10px;
      a {
        position: relative;
        display: flex;
        text-decoration: none;
        color: transparent;
        i {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          color: #000;
          z-index: 1;
        }
      }
    }
    h2,
    h3 {
      font-weight: 400;
    }
    h2 {
      font-size: 1.6rem;
      display: block;
      margin-bottom: 10px;
      color: #88734d;
    }
    .quantity {
      color: #afafaf;
      font-size: 1.3rem;
      margin-bottom: 5px;
      font-weight: 600;
    }
    .imgCol {
      max-width: 92px;
      background-color: #fff;
      display: flex;
      align-items: center;
      img {
        max-height: 92px;
        max-width: 100%;
      }
    }
  }
  .address {
    font-size: 1.2rem;
    text-transform: capitalize;
    h3 {
      font-size: 1.4rem;
      margin-bottom: 0;
      padding: 10px 0 0 0;
    }
    span {
      padding: 2px 0 2px;
      display: block;
      font-weight: 600;
      color: #777;
      font-size: 1.3rem;
      margin-top: 10px;
    }
  }
}
.info {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  i {
    display: block;
    font-size: 8rem;
    color: red;
  }
}
.total-price {
  font-size: 2rem;
  color: #498849;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 1.3rem;
  }
}
:host {
  background: #f7f7f7;
  position: relative;
  z-index: 3;
  display: block;
}
